<!-- <div>
    <input 
        type="file" 
        accept="image/jpeg, image/png, image/jpg" 
        (change)="onFileSelected($event)" #fileUpload>
    <div [hidden]="!uploaded" class="image-container">
        <img src="#" #image>
        <button (click)="doRotate()">Rotate</button>
    </div>
</div> -->

<!-- <app-buttons 
    [symbols]="getSymbols()" 
    (buttonPressedEvent)="handleSymbol($event)">
</app-buttons> -->

<button (click)="modify()">Modify</button>

<div>
    <app-formula-editor #formulaEditor [aceControl]="aceControl">
    </app-formula-editor>
</div>

<div class="ace">
    <textarea name="" id="" cols="30" rows="10" (blur)="setFocus(false)" (focus)="setFocus(true)" [formControl]="aceControl" #textareaElement></textarea>
</div>

<!-- <app-adbanner [ads]="ads"></app-adbanner>
 -->

<!-- <button>Save</button>
 -->