/* :root {
    --dark: #004494;
    --medium: #c6c4c4;
    --light: #fff;
} */

.button-container {
    display: flex;
    flex-direction: row;
    padding: 1em;
}

.latex-button {
    padding: 0.5em;
    background-color: #d9d9d9;
    border: 1px solid black;
    margin-right: 1px;
}

.latex-button:hover {
    background-color: #c8c7c7;
}

.container {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.mq-editable-field {
    width: 100%;
}