* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --main-bg-color: rgb(24 23 31);
    --secondary-bg-color: #2f2d37; 
    --text-color: rgb(190 188 197);
    --text-color-dim: grey;
    --color-details: rgb(169 252 179);
    --bar-color: rgb(248 205 101);
    --color-button: rgb(164 255 175);
    --h1-color: rgb(127 125 139);
}

body {
    background-color: var(--main-bg-color);
    margin: 1em;

}

h1 {
    color: var(--h1-color);
    text-align: center;
    margin-bottom: 1em;
}

#password-container, #pw-form {
    background-color: var(--secondary-bg-color);
    padding: 1em;
    margin-bottom: 1em;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#strength-container {
    background-color: var(--main-bg-color);
    padding: 1em;
}

label {
    color: var(--text-color);
    display: block;
}

#strength-text {
    color: var(--text-color-dim);
    text-transform: uppercase;
}

#strength {
    color: var(--text-color);
    text-transform: uppercase;
    margin-right: 1em;
}

#strength-bars {
    display: flex;
    flex-direction: row;
}

.non-active, .active {
    margin-right: 5px;
    width: 7px;
}

.non-active {
    border: 1px solid var(--text-color);
}

.active {
    background-color: var(--bar-color);
}

#pw-form > * {
    margin-bottom: 1em;
}

input[type=range] {
    accent-color: var(--color-details);
}

input[type=submit] {
    background-color: var(--color-button);
    border: 1px solid var(--color-details);
    color: var(--text-color-dim);
    padding: 1em;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}


input[type=submit]:hover {
    background-color: var(--secondary-bg-color);
    border: 1px solid var(--color-details);
    color: var(--color-details);
    padding: 1em;
}

input[type=checkbox] {
    margin-right: 1em;
}

input[type=checkbox]:checked {
    accent-color: var(--color-details);
}
#length {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
}

#pw {
    background-color: var(--secondary-bg-color);
    padding: 0.5em;
    color: var(--text-color);
    font-size: large;
    border: none;
}

#character-length-text {
    color: var(--text-color);
}

#character-length {
    color: var(--color-details);
    font-size: x-large;
}